<% meta title: "Sell Electronics NYC | Sell Electronics Manhattan | Sell Electronics Queens",
        description:" We buy your electronics for top cash in NYC. Sell iPhone, iPad, iPod, MacBook, iMac, Samsung, Canon, Nikon, X Box, Play Station.",
        keywords: %w(iPhone iPod iPad iPhone_6 iPhone_5 iPhone_5S iPhones iPads MacBook Mac Book iMac Samsung Galaxy Tablet Tab)
%>
<div class="row text-center">
<h1>WELCOME TO SELL ELECTRONICS NYC</h1>
<h2>THE EASIEST WAY TO SELL YOUR ELECTRONICS IN NEW YORK CITY</h2>
</div>

<div class="row text-center list hidden-xs">
  <div class="col-sm-6">
    <h3>MOST POPULAR ITEMS</h3>

    <div class="col-sm-6">
      <%= link_to 'iPHONE 6', root_path%> <br/>
      <%= link_to 'iPHONE 6 PLUS', root_path%> <br/>
      <%= link_to 'iPHONE 5 s', root_path%> <br/>
      <%= link_to 'iPHONE 5 C', root_path%> <br/>
      <%= link_to 'MacBook Pro', root_path%> <br/>
      <%= link_to 'MacBook Air', root_path%> <br/>
      <%= link_to 'iMac Retina', root_path%> <br/>
      <%= link_to 'Apple Watch', root_path%> <br/>
      <%= link_to 'iPad Air 2', root_path%> <br/>
      <%= link_to 'iPad Mini', root_path%> <br/>

    </div>
    <div class="col-sm-6">
      <%= link_to 'Samsung Galaxy s6', root_path%> <br/>
      <%= link_to 'Samsung Galaxy s6 Edge', root_path%> <br/>
      <%= link_to 'Samsung galaxy s5', root_path%> <br/>
      <%= link_to 'Samsung Galaxy Tab 10', root_path%> <br/>
      <%= link_to 'Canon Mark 3', root_path%> <br/>
      <%= link_to 'NIKON d800', root_path%> <br/>
      <%= link_to 'X-BOX One', root_path%> <br/>
      <%= link_to 'Play Station 4', root_path%> <br/>

    </div>
  </div>
  <div class="col-sm-6">
    <h3>CATEGORIES</h3>
    <div class="col-sm-12">
      <%= link_to 'Phones', root_path%> <br/>
      <%= link_to 'Tablets', root_path%> <br/>
      <%= link_to 'Desktops', root_path%> <br/>
      <%= link_to 'Laptops', root_path%> <br/>
      <%= link_to 'Cameras', root_path%> <br/>
      <%= link_to 'Game Cansoles', root_path%> <br/>
      <%= link_to 'Smart Watches', root_path%> <br/>

    </div>

  </div>




</div>
<div class="container">
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <%= link_to(root_path, :class => 'btn btn-default btn-block btn-lg') do %>
        <i class="fa fa-mobile"> </i> iPhone 6
    <% end %>   <%= link_to(root_path, :class => 'btn btn-default btn-block btn-lg') do %>
        <i class="fa fa-mobile"> </i> iPhone 6 Plus
    <% end %>
    <%= link_to(root_path, :class => 'btn btn-default btn-block btn-lg') do %>
        <i class="fa fa-tablet"> </i> iPad Air 2
    <% end %>
  </div>

  <div class="col-xs-1"></div>
</div>
  <hr/>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
  <div class="row">
    <div class="col-xs-6">
    <%= link_to(root_path, :class => 'btn btn-default btn-block btn-lg') do %>
        <i class="fa fa-mobile"> </i> iPhone 5
    <% end %>   <%= link_to(root_path, :class => 'btn btn-default btn-block btn-lg') do %>
        <i class="fa fa-tablet"> </i> iPad
    <% end %>
    <%= link_to(root_path, :class => 'btn btn-default btn-block btn-lg') do %>
        <i class="fa fa-laptop"> </i> MacBook
    <% end %>
      <%= link_to(root_path, :class => 'btn btn-default btn-block btn-lg') do %>
          <i class="fa fa-desktop"> </i> iMac
      <% end %>   <%= link_to(root_path, :class => 'btn btn-default btn-block btn-lg') do %>
          <i class="fa fa-clock-o"> </i> Apple Watch
      <% end %>
      <%= link_to(root_path, :class => 'btn btn-default btn-block btn-lg') do %>
          <i class="fa fa-camera"> </i> iPod
      <% end %>
  </div>
    <div class="col-xs-6">
      <%= link_to(root_path, :class => 'btn btn-default btn-block btn-lg') do %>
          <i class="fa fa-camera"> </i> Canon
      <% end %>   <%= link_to(root_path, :class => 'btn btn-default btn-block btn-lg') do %>
          <i class="fa fa-camera"> </i> Nikon
      <% end %>
      <%= link_to(root_path, :class => 'btn btn-default btn-block btn-lg') do %>
          <i class="fa fa-gamepad"> </i> X-BOX
      <% end %>
      <%= link_to(root_path, :class => 'btn btn-default btn-block btn-lg') do %>
          <i class="fa fa-gamepad"> </i> Play Station
      <% end %>   <%= link_to(root_path, :class => 'btn btn-default btn-block btn-lg') do %>
          <i class="fa fa-mobile"> </i> Other Phones
      <% end %>
      <%= link_to(root_path, :class => 'btn btn-default btn-block btn-lg') do %>
          Other Items
      <% end %>
    </div>


  </div>
  </div>
<div class="col-xs-1"></div>
</div>
</div>
<hr/>
<br/><br/><br/><br/>