<% meta title: "Sell Electronics NYC | Sell Electronics Manhattan | Sell Electronics Queens",
        description:" We buy your electronics for top cash in NYC. Sell iPhone, iPad, iPod, MacBook, iMac, Samsung, Canon, Nikon, X Box, Play Station.",
        keywords: %w(iPhone iPod iPad iPhone6 iPhone5 MacBook Mac Book iMac Samsung Galaxy Tablet Tab)
%>

<div class="row text-center text-uppercase">
<h2>We buy electronics in <br class="visible-xs"/> New York City</h2>
</div>
<hr/>

<p><strong>Selling electronics in New York </strong>  has never been so easy. You can call us right now  or come
  to our place in Queens and get top dollar for your items. <strong> We buy all Apple Products </strong> (iPhones, iPads, iMacs, MacBooks,
  Apple Watches, MacPros, Apple TV), Nikon, Canon, other cameras, X-Box One, Play Station 4, other Phones and Tablets.</p>
<p>If you didn't find your item here, just call us! May be we just forget to write it here!</p>


<p> We don't purchase any lost or stolen items. Please make sure to
  have identification and to be over the age of 18.
  </p>
<hr/>
<div class="row center-block ">
  <div class="col-md-4 col-lg-4 col-sm-4 mark">
    <h4>We buy iPhone 6 / 6 Plus</h4>
    <img src="iphone-6.jpg" class="img-responsive center-block" alt="Sell iPhone NYC"/>
    <br/>
    <%= link_to(iphone_6_path, :class => 'btn btn-warning btn-block') do %>
         SELL iPHONE 6
    <% end %>

    <br/>
    <br/>

  </div>

  <hr class="visible-xs"/>
    <div class="col-md-4 col-lg-4 col-sm-4 mark">
      <h4>We buy iPhone 5 / 5S / 5C</h4>
      <img src="iphone-5.jpg" class="img-responsive center-block" alt="Sell iPhone 5 NYC"/>
      <br/>
      <%= link_to(iphone_5_path, :class => 'btn btn-warning btn-block') do %>
          SELL iPHONE 5
      <% end %>
      <br/>
      <br/>

  </div>

  <hr class="visible-xs"/>
      <div class="col-md-4 col-lg-4 col-sm-4 mark">
        <h4>We buy iPad Air / Mini</h4>
        <img src="iPad.jpg" class="img-responsive center-block" alt="Sell iPad NYC"/>
        <br/>
        <%= link_to(ipad_air_path, :class => 'btn btn-warning btn-block') do %>
            SELL iPAD
        <% end %>
        <br/>
        <br/>
      </div>
</div>
<hr/>
<div class="row center-block ">
  <div class="col-md-4 col-lg-4 col-sm-4 mark">
    <h4>We buy MacBook Air / Pro</h4>
    <img src="mac-air.jpg" class="img-responsive center-block" alt="Sell MacBook NYC"/>
    <br/>
    <%= link_to(macbook_path, :class => 'btn btn-warning btn-block') do %>
        SELL MACBOOK
    <% end %>
    <br/>
    <br/>

  </div>

  <hr class="visible-xs"/>
  <div class="col-md-4 col-lg-4 col-sm-4 mark">
    <h4>We buy iMac / iMac Retina</h4>
    <img src="imac.jpg" class="img-responsive center-block" alt="Sell iMac"/>
    <br/>
    <%= link_to(imac_path, :class => 'btn btn-warning btn-block') do %>
        SELL iMAC
    <% end %>
    <br/>
    <br/>

  </div>

  <hr class="visible-xs"/>
  <div class="col-md-4 col-lg-4 col-sm-4 mark">
    <h4>We buy all kinds of Apple Watch</h4>
    <img src="applewatch.jpg" class="img-responsive center-block" alt="Sell Apple Watch NYC"/>
    <br/>
    <%= link_to(apple_watch_path, :class => 'btn btn-warning btn-block') do %>
        SELL APPLE WATCH
    <% end %>
    <br/>
    <br/>
  </div>
</div>
<hr/>

<div class="row center-block ">
  <div class="col-md-4 col-lg-4 col-sm-4 mark">
    <h4>Any Phones and Tablets</h4>
    <img src="samsung.jpg" class="img-responsive center-block" alt="Sell SamSung NYC"/>
    <br/>
    <%= link_to(phones_path, :class => 'btn btn-warning btn-block') do %>
        SELL PHONE
    <% end %>
    <br/>
    <br/>

  </div>

  <hr class="visible-xs"/>
  <div class="col-md-4 col-lg-4 col-sm-4 mark">
    <h4> X-Box One / Play Station 4</h4>
    <img src="gamepad.jpg" class="img-responsive center-block" alt="Sell X Box Play Station NYC"/>
    <br/>
    <%= link_to(consoles_path, :class => 'btn btn-warning btn-block') do %>
        SELL X BOX | SELL PLAYSTATION
    <% end %>
    <br/>
    <br/>

  </div>

  <hr class="visible-xs"/>
  <div class="col-md-4 col-lg-4 col-sm-4 mark">
    <h4>Canon / Nikon / Other Cameras</h4>
    <img src="camera.jpg" class="img-responsive center-block" alt="Sell Camera"/>
    <br/>
    <%= link_to(cameras_path, :class => 'btn btn-warning btn-block') do %>
        SELL CANON | SELL NIKON
    <% end %>
    <br/>
    <br/>
  </div>
</div>
<hr/>



