<!DOCTYPE html>
<html>
<head>
  <%= metamagic %>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body class="container">


<%= render 'shared/navigation' %>
<section>
<%= yield %>
</section>
<%= render 'shared/footer'%>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
